.show {
  display: flex;
  flex-direction: row;
  img {
    border-radius: 10px;
  }
  .part {
    margin: 50px 0px 50px 0px;
    width: 50%;
  }
}

.show-infos {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.fa-arrow-alt-circle-left {
  margin-top: 40px;
  font-size: 25px;
}
