<h1>TEST</h1>
<%= simple_form_for "", url: next_wizard_path(brand: params[:brand], model: params[:model],
                            price_per_day: params[:price_per_day],
                            engine: params[:engine], fuel: params[:fuel],
                            kilometers: params[:kilometers], seats: params[:seats],
                            year_of_production: params[:year_of_production],
                            price_per_day: params[:price_per_day],
                            adress: params[:adress], photo: params[:photo]),
                            method: :put do |f|  %>
  <h4 class="form-h4">Ajouter une photo</h4>
  <%= f.input_field :photo, as: :file %>
  <%= link_to previous_wizard_path(brand: params[:brand], model: params[:model],
                            price_per_day: params[:price_per_day],
                            engine: params[:engine], fuel: params[:fuel],
                            kilometers: params[:kilometers], seats: params[:seats],
                            year_of_production: params[:year_of_production],
                            price_per_day: params[:price_per_day],
                            adress: params[:adress]),
                        class:"button-primary-outline mt-4" do  %>
    Précédent
  <% end %>
  <%= f.submit %>
<% end %>
